aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
click==7.1.2
flask==1.1.2
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
multidict==4.7.6
pymongo==3.10.1
python-dotenv==0.14.0
pytz==2020.1
slackclient==2.7.3
werkzeug==1.0.1
yarl==1.4.2
